<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Recipes</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="fas fa-pizza-slice p-1 p-1" aria-hidden="true"></span>Recipes
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Recipe/" Match="NavLinkMatch.Prefix">
                <span class="fas fa-utensils p-1" aria-hidden="true"></span>Recipe

            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/turner11/Recipes/tree/main/RecipesMD" target="_blank">
                <span class="far fa-edit p-1" aria-hidden="true"></span>Edit Recipes

            </NavLink>
        </li>


    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
