<div style="height:42px;display: inline-flex;flex-direction: row;padding-bottom: 2em;padding-top: 1em;justify-content: flex-start;align-content: flex-start;align-items: center;">    
    @if (@AllFilters is not null)
    {
        foreach ((var title, var values) in AllFilters)
        {

            <MatSelect Label="@title.ToCamelcase()" TValue="String" Style="padding-right: 50px;" ValueChanged=@(value => SetFiltered(title, value))>                
                <MatOptionString Value="">--All--</MatOptionString>
                @foreach (var value in values)
                {
                    <MatOptionString Value="@value">@value.ToCamelcase()</MatOptionString>
                }
            </MatSelect>           
        }
    }
    
</div>
<br/>