@page "/recipe/"
@page "/recipe/{RecipeName}"

<div style="@this.directionStyle" class="recipe_container">
    @this.Instructions
</div>


<style>

    .recipe_container * {
        max-width: 90%;        
    }

</style>